body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('https://www.desktopbackground.org/download/1920x1080/2015/07/31/987869_magic-blue-sea-bright-spots-backgrounds-large-wallpapers-1920-1166_1920x1166_h.jpg');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#productImg {
  justify-self: center;
  text-align: center;
  max-height: auto;
  height: 50%;
  }
#productCard{
  max-height: 100%;
  height: 80%;
  border-radius: 25px;
  display: flex;
}
.priceDiv {
  font-size: 12px;
  font-style: oblique;
}
#buttonId {
  align-self: flex-end;
}
